@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* started with CSS reset to ensure consistency accross browsers */
/* @import "./reboot.css"; */
@import "./normalize.css";

/*  */
/* GLOBAL STYLES */
html,
body {
  height: 100%;
}
body {
  font: 1em "Roboto", sans-serif;
  /* Line height to match WCAG guidelines */
  line-height: 1.5;
  overflow: auto;

  display: flex;
  flex-direction: column;
}
header,
footer {
  flex-grow: 0;
  padding: 1rem;
}

header a,
footer a {
  text-decoration: none;
  transition: transform 0.3s, color 0.3s, box-shadow 0.3s;
}

header {
  background-color: rgb(254, 230, 134);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.navigation li {
  font-size: large;
  display: inline-block;
  margin-left: 1rem;
}

/* 
header > nav {
  flex-grow: 0;
} */
/* 
header > nav li {
  font-size: large;
  display: inline-block;
  margin-left: 1rem;
} */

main {
  max-width: 40rem;
  margin: auto;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 30px;

  border: solid 2px salmon;
}

footer {
  flex-grow: 0;
  background-color: green;
  padding: 1.5rem;
  /* width: 100vw; */
}
footer li {
  display: inline-block;
}

/* a {
  color: #ff0000;
} */

a:hover,
a:visited,
a:focus {
  color: #a60000;
  transform: scale(1.2);
  box-shadow: 0 0 0 0.0625rem #000;
}

a:active {
  /* color: #000000;
  background-color: #a60000; */
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  box-shadow: 0 0 0 0.0625rem #048;
}
aside {
  background-color: aquamarine;
}

h1 {
}

/* INTRO */
.introduction {
  border: solid 1px aqua;
  gap: 1rem;
  /* padding: 1rem; */
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  align-items: center;
  background-color: bisque;
  border-radius: 15px;
}

.intro-text {
  /* grid-area: col-1; */
  width: 2fr;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 1em;
}
.intro-text button {
  width: 50%;
}

.headshot {
  aspect-ratio: 1/1;
  /* height: auto; */
}
.headshot img {
  width: 100%;
  height: 100%;
  border: 2px solid green;
  border-radius: 50%;
  object-fit: cover;
}

/* BANNER */

.brands-banner {
  background-color: rgb(231, 229, 229);
  display: flex;
  justify-content: space-between;
  /* width: 100vw; */
  padding: 1em;
}

/* SERVICES */

.projects {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.wrapper {
  display: flex;
  flex-direction: column;

  border: solid 2px salmon;
}

/* 
@media screen and (max-width: 786px) {
  .hamburger {
    display: inline-block;
  }
  .navigation li {
    display: none;
  }
} */

@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }
  .navigation {
    flex-direction: column;
  }

  .navigation ul {
    flex-direction: column;
    align-items: center;
  }

  .navigation li {
    margin: 0;
    margin-bottom: 1rem;
  }

  .navigation li:hover > ul {
    display: none;
  }

  .navigation li {
    position: relative;
  }

  .navigation li:hover > ul {
    display: block;
  }

  .navigation ul ul {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1;
    display: none;
  }

  .navigation ul ul li {
    margin-top: 0;
  }
}
