* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
}
body {
  font-size: 16px;
  /* Line height to match WCAG guidelines */
  line-height: 1.5;
  width: fit-content;
}
