:root {
  --main-white: #fefefe;
  --main-black: #424242;

  --main-surface: #f7f5ff;
  --main-surface-dim: #d3d3d9;

  --main-container-lowest: #fffbff;
  --main-container-: #f7f5fd;
  --main-container-low: #ecebf8;
  --main-container-high: #e0ddf4;
  --main-container-highest: #cac5ec;

  --main-dark-5: #44434a;
  --main-dark-15: #66656f;
  --main-dark-30: #92909f;
  --main-dark-50: #a8a6b2;

  --main-primary: rgb(112, 78, 230);
  --main-primary-dark: #542cdd;
  --main-primary-darkest: #340098;
  --main-primary-light: #8d72ed;
  --main-primary-lightest: #d5cbff;

  --main-secondary: #35a356;
  --main-secondary-dark: #19883b;
  --main-secondary-darkest: #005323;
  --main-secondary-light: #49df76;
  --main-secondary-lightest: rgb(221, 254, 231);

  --main-tertiary: rgb(245, 85, 80);
  --main-tertiary-dark: #da3b1f;
  --main-tertiary-darkest: #a03834;
  --main-tertiary-light: #ff8876;
  --main-tertiary-lightest: #fdd6d5;

  --main-comp: #ffdd40;
  --main-comp-dark: #ffd618;
  --main-comp-darkest: #906b03;
  --main-comp-light: #ffe779;
  --main-comp-lightest: rgb(255, 246, 204);

  --main-shadow-dark: 5px 5px 1px 1px rgb(102, 101, 111, 0.8);
  --main-shadow-dark-hover: 2px 2px 1px 1px rgb(102, 101, 111, 0.8);
  --main-shadow-button: 5px 5px 1px 1px var(--main-dark-30);
  --main-shadow-button-hover: 5px 5px 1px 1px var(--main-dark-30);
  --main-shadow-light: 5px 5px 1px 1px var(--main-dark-50);
  --main-shadow-link-hover: 5px 5px 1px 5px var(--main-dark-50);
  --main-shadow-icon: 2px 2px 1px 1px var(--main-dark-50);
}
