/* started with CSS reset to ensure consistency accross browsers */
@import "./normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* COLOR PALETTE  */
@import "./colors.css";
/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
}
body {
  /* border: 1px solid aqua; */
  /* background-color: var(--md-sys-color-surface); */
  /* outline-color: var(--md-sys-color-outline); */

  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='115' height='115' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(127)'%3E%3Crect width='100%25' height='100%25' fill='rgba(114, 167, 68,0)'/%3E%3Cpath d='M0 0h40v40h-40z' fill='rgba(255, 246, 204,1)' filter='url(%23filter-doodad-1)'/%3E%3Cpath d='M-40 0h1l10 20l-10 20h-1l10-20zM-38 0h1l10 20l-10 20h-1l10-20zM-36 0h1l10 20l-10 20h-1l10-20zM-34 0h1l10 20l-10 20h-1l10-20zM-32 0h1l10 20l-10 20h-1l10-20zM-30 0h1l10 20l-10 20h-1l10-20zM-28 0h1l10 20l-10 20h-1l10-20zM-26 0h1l10 20l-10 20h-1l10-20zM-24 0h1l10 20l-10 20h-1l10-20zM-22 0h1l10 20l-10 20h-1l10-20zM-20 0h1l10 20l-10 20h-1l10-20zM-18 0h1l10 20l-10 20h-1l10-20zM-16 0h1l10 20l-10 20h-1l10-20zM-14 0h1l10 20l-10 20h-1l10-20zM-12 0h1l10 20l-10 20h-1l10-20zM-10 0h1l10 20l-10 20h-1l10-20zM-8 0h1l10 20l-10 20h-1l10-20zM-6 0h1l10 20l-10 20h-1l10-20zM-4 0h1l10 20l-10 20h-1l10-20zM-2 0h1l10 20l-10 20h-1l10-20zM0 0h1l10 20l-10 20h-1l10-20zM2 0h1l10 20l-10 20h-1l10-20zM4 0h1l10 20l-10 20h-1l10-20zM6 0h1l10 20l-10 20h-1l10-20zM8 0h1l10 20l-10 20h-1l10-20zM10 0h1l10 20l-10 20h-1l10-20zM12 0h1l10 20l-10 20h-1l10-20zM14 0h1l10 20l-10 20h-1l10-20zM16 0h1l10 20l-10 20h-1l10-20zM18 0h1l10 20l-10 20h-1l10-20zM20 0h1l10 20l-10 20h-1l10-20zM22 0h1l10 20l-10 20h-1l10-20zM24 0h1l10 20l-10 20h-1l10-20zM26 0h1l10 20l-10 20h-1l10-20zM28 0h1l10 20l-10 20h-1l10-20zM30 0h1l10 20l-10 20h-1l10-20zM32 0h1l10 20l-10 20h-1l10-20zM34 0h1l10 20l-10 20h-1l10-20zM36 0h1l10 20l-10 20h-1l10-20zM38 0h1l10 20l-10 20h-1l10-20z' fill='rgba(185, 252, 205,1)'/%3E%3C/pattern%3E%3Cfilter id='filter-doodad-1'%3E%3CfeTurbulence baseFrequency='0.1' numOctaves='2' type='fractalNoise' result='result1'/%3E%3CfeDisplacementMap in2='result1' scale='1' result='result2' xChannelSelector='R' in='SourceGraphic'/%3E%3CfeComposite in2='result2' in='SourceGraphic' operator='atop' result='fbSourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
  background-color: var(--main-surface);

  color: var(--main-dark-5);

  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  /* Line height to match WCAG guidelines */
  line-height: 1.5;
  width: fit-content;
  display: grid;
  grid-template-columns: auto 1fr;
  list-style: none;
}

body > main {
  flex: auto;
  /* position: relative; */
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 2rem;

  padding: 1rem 0;
  /* max-width: min(90%, 120rem); */
}

body > footer {
  /* border: 1px solid greenyellow; */
  background-color: var(--main-surface-dim);
  color: var(--main-black);
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  grid-row: 2 / 3;
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  position: relative;
  z-index: 6;
}

body > footer ul {
  flex: 0 1 auto;
  /* width: 100%; */

  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}
.copyright {
  font-size: small;
  font-weight: 200;
}

.footer {
  text-align: end;
  position: relative;
}

/* footer li {
  display: inline-block;
} */

ol,
ul,
li,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  text-transform: uppercase;
}

h1 {
  font-weight: 800;
  font-size: 1.875rem;
  line-height: 1.25;
  color: var(--main-black);
  letter-spacing: -0.025em;
  text-shadow: 1px 1px 0px var(--main-white), 2px 2px 0px var(--main-comp);
  /* text-transform: uppercase; */
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.25;
  color: var(--main-black);
  letter-spacing: -0.025em;
}

h3 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.25;
  color: var(--main-black);
  letter-spacing: -0.025em;
  /* line-height: 2rem; */
}
h4 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.25;
  color: var(--main-black);
  letter-spacing: -0.025em;

  /* font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: #111827; */
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: inline-block;
  vertical-align: middle;
}

img,
svg,
video {
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
  aspect-ratio: auto 16/9;
}

a {
  flex: auto;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background: inherit;
  cursor: pointer;
  /* vertical-align: bottom; */
  /* vertical-align: middle; */
  border: 1px solid transparent;
  border-radius: 0.375rem;
}

main a {
  vertical-align: middle;
  text-align: center;
  line-height: 1.15;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: 0.375rem;
  border: 1px solid transparent;

  position: relative;
}

a.next-btn {
  flex: none;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 4rem;
  height: 4rem;
  z-index: 15;
  opacity: 0.8;

  background-color: var(--main-comp);
  border-radius: 0.375rem;

  font-size: large;
  text-transform: uppercase;
  flex-direction: column;
  align-self: flex-end;
  position: sticky;
  bottom: 0.25rem;
}

.top-link {
  background-color: var(--main-comp);
  border-radius: 0.375rem;

  position: fixed;
  bottom: 5rem;
  right: 0;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 4rem;
  height: 4rem;
  z-index: 20;
  opacity: 0;
  transition: all 0.5s ease;
}

.show-top {
  opacity: 0.9;
  transform: translateY(0);
}

.action-buttons > a {
  flex: 1 1 50%;
  max-width: 50%;
  font-size: larger;
  padding: 1rem 0.125rem;
}

.modal-btn {
  flex: auto;

  padding: 1rem 0.125rem;
}

.button {
  background-color: var(--main-primary);
  color: var(--main-surface);
  border: 2px solid var(--main-dark-15);
  box-shadow: var(--main-shadow-button);
}
.button-alt {
  background-color: var(--main-surface);
  color: var(--main-dark-5);
  border: 2px solid var(--main-dark-15);
  box-shadow: var(--main-shadow-button);
}

.button:hover,
.button:focus,
.button-alt:focus,
.button-alt:focus,
a.next-btn:hover,
a.next-btn:focus,
.top-link:hover,
.top-link:focus {
  box-shadow: var(--main-shadow-button-hover);
}

button:visited:hover,
a:visited:hover,
button:hover,
button:focus,
a:hover,
a:focus {
  transform: scale(1.2);
  background-color: var(--main-secondary-light);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: relative;
  z-index: 10;
  opacity: 0.9;
  /* box-shadow: var(--main-shadow-link-hover); */
  /* box-shadow: var(--main-shadow-button-hover); */
}

.icon-group .icon:hover,
.icon-group .icon:focus {
  color: var(--main-primary);
  box-shadow: 0 0 0 0.125rem var(--main-comp);
  padding: 0;
}

button:active,
a:active {
  padding: 0.25rem 0.5rem;
  transform: translateY(4px);
}

p {
  display: block;
  margin: 0;
  max-width: 60ch;
  font-weight: 400;
}

dt {
  font-weight: 600;
  color: #111827;
  letter-spacing: -0.025em;
}
dd {
  /* font-size: 1.875rem; */
  /* font-size: 4cqmax; */
  /* line-height: 2.25rem;
  order: -9999; */
  color: #6b7280;
  font-weight: 300;
  /* font-size: 0.875rem; */
  letter-spacing: -0.025em;
}

time {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 0.25rem;
  color: var(--main-dark-15);
  line-height: 1;
  font-weight: 600;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

[role="doc-subtitle"] {
  color: var(--main-dark-15);
  font-style: italic;
  font-weight: 400;
  font-size: 0.875rem;
  /* padding-bottom: 0.5rem; */
  max-width: 60ch;
}

.shadow-s {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.shadow {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.shadow-l {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.shadow-xl {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.shadow-2xl {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

/* ICONS*/
.icon-group {
  flex: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.icon-group a {
  flex: auto;
  display: flex;
  justify-content: center;
  min-width: 1.25rem;
  min-height: 1.25rem;
}

.icon {
  border-radius: 0.325rem;
  position: relative;
  height: auto;
  width: 1.5rem;
  fill: currentColor;
}

.icon-large {
  /* height: 2.5rem; */
  width: 2.5rem;
}
.icon-xl {
  /* height: 3rem; */
  width: 3rem;
}
.icon-small {
  /* height: 1.25rem; */
  width: 1.25rem;
}

/* LOGOS */
.logo {
}

.logo-xs {
  height: 2rem;
  width: 2.5rem;
}
.logo-small {
  height: 3rem;
  width: 3.75rem;
}

.logo-large {
  height: 4rem;
  width: 5rem;
}
.logo-xl {
  height: 6rem;
  width: 7.5rem;
}

/* TOOLTIP */

[role="tooltip"] {
  top: unset;
  bottom: 100%;
  position: absolute;
  top: calc(100% + calc(var(0.5em) * 2));
  left: 50%;

  transform: translateX(-50%);

  white-space: nowrap;
  padding: 0.5rem;
  border-radius: 0.325em;
  color: var(--main-black);
  font-weight: 600;
  /* background: var(--main-dark-15); */
  background-color: var(--main-container-highest);
  border: 1px solid var(--main-dark-15);
  box-shadow: var(--main-shadow-icon);
}
[role="tooltip"]:after {
  /* position: absolute;
  left: 0;
  right: 0;
  bottom: -0.75rem;
  margin: auto;
  content: "";
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 15px solid var(--main-container-highest);
  border-bottom: none; */
}

.top [role="tooltip"] {
  top: unset;
  bottom: 100%;
}

.top::before {
  border-top-color: var(--main-container-highest);
  border-bottom-color: transparent;
}

.top [role="tooltip"] {
  bottom: calc(100% + calc(var(0.5em) * 2));
}

/* PAGES */

.page {
  flex: auto;

  max-width: min(90%, 120rem);
  min-height: 95vh;
  position: relative;
  padding: 2rem 0 4rem 0;
  background-color: rgb(112, 78, 230, 0.6);

  border-radius: 0.375rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* align-items: top; */
  position: relative;
  /* border: 1px solid salmon; */
}

.page > header {
  padding: 1rem min(2rem, 5%);
  padding-top: 2rem;
  border-top: 2px solid var(--main-dark-5);
  border-left: 2px solid var(--main-dark-5);
  border-right: 2px solid var(--main-dark-5);
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  box-shadow: var(--main-shadow-dark);
}
.page > .main {
  flex: auto;
  width: 100%;
  background-color: var(--main-surface);
  border-left: 2px solid var(--main-dark-5);
  border-right: 2px solid var(--main-dark-5);
  border-bottom: 2px solid var(--main-dark-5);
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  box-shadow: var(--main-shadow-dark);

  padding: 1rem min(2rem, 5%);
  padding-bottom: 2rem;

  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  gap: 1.25rem;

  align-content: center;
  position: relative;
  z-index: 2;
}

.resume-main {
  justify-content: center;
}
.contact-main {
  justify-content: space-between;
}

.expertise-main {
  justify-content: center;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--main-surface);
  color: var(--main-dark-15);
  padding-bottom: 0.5rem;
  /* margin-bottom: 0.5rem; */
}
.title > h2,
.title > h3,
.title > h4 {
  max-width: 40ch;
}

.title > p {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid currentColor;
}

.about,
.resume,
.expertise,
.portfolio,
.contact {
  padding-left: min(2rem, 5%);
  padding-right: min(2rem, 5%);
}

.page > footer {
  align-self: flex-end;
  padding: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 80vh;
  bottom: 0.25rem;
  right: 1.25rem;
}

/* CARDS */

.cards {
  flex: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 100%;

  gap: 0.5rem;
}

.resume .cards {
  align-items: center;
}

.card {
  flex: 1 1 auto;
  border: 2px solid var(--main-dark-15);
  background-color: var(--main-container-lowest);
  box-shadow: var(--main-shadow-dark);
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  /* max-width: 80%; */
  max-width: 25rem;
}

.expertise-card {
  display: grid;
  grid-template-rows: 1fr auto;
}

.expertise-card header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.expertise-card header h3 {
  order: 1;
}

.ventures .card-img,
.education .card-img,
.expertise-card .card-img,
.timeline-card .card-img {
  flex: 1 1 30%;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0.325rem;
  position: relative;
}

.card-img img {
  object-fit: cover;
}

.card-text {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
  min-width: 14rem;
  /* width: 20rem; */
  order: 1;
  position: relative;
}

.card-text > :last-child {
  margin-top: auto;
}

.card-text > :nth-last-child(2) {
  margin-bottom: 0.75rem;
}

.card p {
  font-size: 0.875rem;
}

.card .badge-container {
  width: 100%;
}
/* need to update focus styles */
.clickable-card {
  /* cursor: pointer; */
}
.clickable-card:hover,
.clickable-card:focus {
  /* box-shadow: var(--main-shadow-dark-hover); */
}
.clickable-card a:focus {
  /* text-decoration: underline; */
}
.clickable-card:focus-within {
  /* box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); */
}
.clickable-card:focus-within a:focus {
  /* text-decoration: none; */
}

/* Details */

details {
  border-radius: 0.325rem;
  width: 100%;
}

details .title {
}

summary {
  /* border: 1px solid magenta; */
  cursor: pointer;
  margin-bottom: 0.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2rem;
  /* justify-items: center; */

  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.5s;
}

summary h3 {
  max-width: 40ch;
}
details summary::-webkit-details-marker {
  display: none;
}

details summary > * {
  /* border: 1px solid magenta; */
  /* display: inline; */
}
summary > p {
  min-width: 100%;
  grid-column: 1/-1;
  color: var(--main-dark-15);
  font-style: italic;
  /* grid-row: span 1 /-1; */
}

summary > svg {
  fill: currentColor;
  transform: rotate(90deg);
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.5s;
}
details[open] summary svg {
  transform: rotate(270deg);
  transition: 0.45s transform ease;
}
details > *:not(summary) {
  animation: details-show 500ms ease-in-out;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  color: transparent;
  /* overflow: hidden; */
}
details[open] > *:not(summary) {
  color: inherit;
}

details .content {
  flex: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 100%;
}

/* MODALS */

dialog {
  margin: auto;
  background-color: var(--main-surface);
  border-radius: 0.375rem;
  width: min(90%, 40rem);
  max-height: 80%;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;

  /* position: fixed; */
  /* inset: 0; */
  transition: opacity 0.5s ease;
}
dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
  /* display: none; */
}

html:has(dialog[open]) {
  overflow: hidden;
}

dialog header {
  grid-row: 1/2;
  grid-column: 1/-1;
  max-width: 100%;

  padding: 1rem;
  order: 0;
  background-color: var(--main-container-high);
  gap: 0.25rem;

  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: center;
}

dialog .close-button {
  grid-column: 2/-1;
  grid-row: 1/3;
}

.close-button {
  background-color: var(--main-white);
  border-radius: 999px;
  aspect-ratio: 1;
  flex-shrink: 0;
  place-items: center;
  stroke: currentColor;
  stroke-width: 3px;
  width: 2rem;
  height: 2rem;

  padding: 0.375rem;
  margin-left: auto;
  display: inline-flex;
  align-items: center;
}

dialog::backdrop {
  background: repeating-linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.2),
    rgba(255, 0, 0, 0.2) 1px,
    rgba(255, 0, 0, 0.3) 1px,
    rgba(255, 0, 0, 0.3) 20px
  );
  backdrop-filter: blur(2px);
  transition: backdrop-filter 0.5s ease;
}
dialog .modal-body {
  order: 1;
  grid-column: 1/-1;
  max-width: 100%;
  padding: 1.5rem;
  text-align: center;
  font-size: 1.25rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  overflow-y: auto;
}

dialog article {
  /* max-block-size: 100%; */
  display: grid;
  justify-items: flex-start;
  gap: 0.5rem;
  padding-inline: 1rem;
}

dialog footer {
  grid-row: 3/4;
  grid-column: 1/3;
  width: 100%;
  min-height: 1rem;
  background-color: var(--main-container-high);
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  justify-content: space-between;
  align-items: flex-start;
}

dialog [role="doc-subtitle"] {
  font-size: 1.25rem;
  font-weight: 300;
}

.resume-modal h3 {
  padding-top: 0.5rem;
  font-size: 1.825rem;
}
.resume-modal {
}
.resume-modal h4 {
  text-align: left;
}
.resume-modal p {
  /* width: 100%; */
  /* align-self: left; */
  text-align: left;
  font-size: 1.25rem;
  /* padding: 0.5rem 0; */
  /* line-height: 1.5; */
}

/* TAGS */

.tag-container {
  margin: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.tag {
  flex: 0 1 auto;
  border-radius: 999px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.25rem;
  text-align: center;
  border: 1px solid var(--main-dark-15);
  box-shadow: var(--main-shadow-icon);
}

.tag.small {
  padding: 0.25rem 0.25rem;
  font-size: 0.75rem;
  line-height: 0.75rem;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  background: inherit;
  color: inherit;
  border-radius: 0.375rem;
}

/* NAV */
.side-nav {
  background-color: var(--main-container-low);

  flex: 0 1 auto;
  position: sticky;
  top: 0;
  align-self: start;
  /* height: 100%; */
  height: 100vh;
  padding: 0.5rem 0 0 0;
  z-index: 5;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.825rem;
  width: 100%;
  max-width: 8rem;

  /* width: 8rem; */
}

.side-nav .nav-text {
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.nav-about {
  flex: 0 1 auto;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;
  align-items: start;

  padding: 0 1rem;
  font-size: 0.875rem;
  order: 1;
}

.site-logo {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.25;
  color: var(--main-black);
  letter-spacing: -0.025em;
}

.nav-about svg {
  /* width: 1.5rem; */
}

.nav-content {
  flex: 1 1 auto;
  width: 100%;

  list-style: none;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 300;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: var(--main-container-low);
  order: 2;
}

.nav-item {
  flex-basis: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-text {
  flex: auto;
  transform-origin: center;

  /* border: 1px solid fuchsia; */
}

.rotate {
  margin-top: 7rem;

  position: relative;
  bottom: 3.5rem;
  left: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;

  text-decoration: solid underline var(--main-comp) 2px;

  transform: rotate(-90deg) scale(1.5);
  pointer-events: none;
  cursor: default;
  color: inherit;
  background-color: var(--main-surface);
  border: 2px solid var(--main-dark-15);
  box-shadow: var(--main-shadow-dark-hover);
  font-weight: 600;
}

.nav-pic {
  flex: 0 2 auto;
  background-color: var(--main-container-low);
  order: 3;
}

/* INTRO */
.home {
  gap: 2.5rem 1rem;
  /* background-color: var(--main-secondary); */
}

.introduction {
  align-self: flex-end;
  max-width: 90%;
  flex: auto;
  background-color: var(--main-surface);
  border: 2px solid var(--main-dark-15);
  box-shadow: var(--main-shadow-dark);
  border-radius: 0.375rem;
  padding: 2rem 2rem 1rem 2rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
}

.intro-text {
  flex: 2 1 30%;
  min-width: 14rem;
  max-width: 30rem;

  font-size: 1.25rem;
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

  z-index: 2;

  border-radius: 0.375rem;
}

.intro-text > h1 {
  order: 2;
}
.intro-text > p {
  order: 3;
}
.hats {
  width: 100%;
  order: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  text-transform: uppercase;
  /* font-size: small; */
  font-weight: 500;
  color: var(--main-primary-dark);
  text-shadow: 1px 1px 0px var(--main-comp), 2px 2px 0px var(--main-secondary);
}

.action-buttons {
  flex: 1 1 auto;
  display: flex;
  gap: 0.5rem;

  position: relative;
  bottom: 1rem;
  width: 90%;
  align-self: center;
  z-index: 2;
}

.headshot {
  flex: 3 3 40%;
  min-width: 14rem;
  max-width: 40rem;
  z-index: 1;
}
.headshot > img {
  object-position: center;
  border-radius: 0.375rem;
}

.stat-banner {
  width: 100%;
  align-self: flex-start;
  background-color: var(--main-container-high);
  padding: 0;
}

.stats {
  /* align-self: flex-start; */
  flex: auto;
  padding: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* align-items: end; */
}
.stat {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  font-size: 2rem;
}

.stat dt {
  color: var(--main-dark-15);
  text-transform: uppercase;
  order: 1;
  font-size: 2cqmax;
  font-weight: 400;
}
.stat dd {
  /* font-size: 4cqmin; */
  font-size: 1.5em;
  font-weight: 600;
  color: var(--main-primary-dark);
}

.stat-brands {
  flex: auto;
  display: flex;
  gap: 0.825rem;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  opacity: 0.7;
}

/* ABOUT */
.about {
  gap: 0 1rem;
}
.about-image {
  flex: 1 2 auto;
  max-width: 20rem;
  order: 1;
}
.about-image > img {
  border-radius: 0.375rem;
  /* max-width: 60rem; */
  width: 100%;

  object-position: center;
}

.about-text {
  flex: 1 1 auto;
  max-width: 30rem;
  font-weight: 300;
  background-color: var(--main-surface);
  border-radius: 0.375rem;
  border: 2px solid var(--main-dark-5);
  box-shadow: var(--main-shadow-dark);

  padding: 2rem;
  display: flex;
  flex-direction: column;

  justify-content: center;
  /* align-items: center; */
  gap: 0.5rem;
  order: 2;
}

.about-links {
  margin-top: 1rem;
  border-top: 1px solid var(--main-tertiary);
  padding: 1rem 4rem;
  align-self: center;
  /* gap: 2rem; */
}

/* CV */

.more {
  display: none;
}

.employment {
  flex: 1 1 auto;
  width: 30rem;
  max-width: max-content;
  /* padding: 1rem; */
  /* width: max-content; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.timeline {
  border-left: 0.25rem solid var(--main-tertiary);
  position: relative;
  left: 1rem;

  /* flex: auto;
  padding: 0;
  display: flex;
  flex-direction: column; */
}

.timeline-card {
  flex: auto;
  width: 85%;
}
.timeline-card .card-img {
  padding: 0.5rem;
}

.timeline-style {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--main-dark-15);
  /* background-color: #e5e7eb; */
  border-radius: 9999px;
  margin-top: 0.375rem;
  /* left: -0.562rem; */
  left: -0.75rem;
  box-shadow: var(--main-shadow-icon);
  /* border: 1px solid var(--main-comp); */
  background-color: var(--main-comp);
}

.cv-content {
  background-color: var(--main-surface);
  flex: 4 1 auto;
  width: 50rem;
  max-width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1.25rem;
}
.cv-container {
}

.expired {
  flex: 1 1 auto;
  background-color: var(--main-container-high);
  padding: 1rem;

  /* border: 1px solid #9ca3af; */
  border-radius: 0.375rem;
  border: 2px solid var(--main-dark-50);
  box-shadow: var(--main-shadow-light);
}
.expired h4 {
  padding-top: 0.5rem;
  order: 1;
  color: var(--main-dark-30);
}

.expired > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-evenly;
}
.expired img {
  opacity: 0.625;
}

/* EXPERTISE */

.expertise-container {
  /* padding: 4rem 0; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.expertise-card {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tools-content {
  padding-bottom: 2rem;
  margin-top: 2rem;

  flex: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.25rem;

  justify-content: space-evenly;
  position: relative;
}

.tools-container {
  /* flex: 1 1 auto; */
  width: 25rem;
  max-width: 100%;
  /* width: 100%; */
  display: flex;
}

/* PORTFOLIO */

.portfolio-main {
  /* width: 100%;
  padding: 0 0 4rem 0; */
}

.filter-buttons {
  flex: auto;
  width: 100%;
  max-width: 80rem;
  margin-top: 2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-secondary-darkest);
}

.filters {
  display: flex;
  gap: 1rem;
}

.filters > details {
  position: relative;
}

.filter-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--main-secondary-darkest);
  border-bottom: 1px solid currentColor;
  padding: 0 0 0.25rem 0;

  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;

  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
}

details .options {
  z-index: 5;
  /* position: absolute; */
  position: relative;
  top: auto;
  margin-top: 0.5rem;
  left: 0;

  width: 24rem;
  border-radius: 0.25rem;
  border: 1px solid var(--main-secondary-darkest);
  background: var(--main-surface);

  font-size: 0.875rem;
  line-height: 1.25rem;
}
.options header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  /* color: #374151; */
}
.options button {
  /* color: #0f172a; */
  background: none;
  padding: 0;
  max-width: 5rem;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.options ul {
  margin-top: 0.25rem;
  border-top: 1px solid var(--main-dark-65);
  padding: 1rem;
}

.options label {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  /* color: #374151; */
  font-weight: 500;
}
.options input {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 0.25rem;
  border-color: currentColor;
}

#sortBy {
  height: 2.5rem;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem;
  border-radius: 0.25rem;
  border-color: var(--main-secondary-darkest);
  color: inherit;
}
#sortBy:hover,
.filter-button:hover {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.filterable {
  /* hide cards by default, add display when filtered */
  display: none;
  --shadowColor: 187 60% 40%;
  display: flex;
  flex-wrap: wrap;
  background: hsl(187 70% 85%);
  max-width: 50rem;
  width: 100%;
  box-shadow: 0.65rem 0.65rem 0 hsl(var(--shadowColor) / 1);
  border-radius: 0.8rem;
  overflow: hidden;
  border: 0.5rem solid;
}

.filterable img {
  /* object-fit: cover; */
  object-fit: scale-down;
  /* flex: 1 1 300px; */
  outline: 0.5rem solid;
}

.filterable-text {
  padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
  flex: 1 0 50%;
}

.portfolio-container {
  width: 100%;
  gap: 1.5rem;
  padding: 1rem;
  background-color: var(--main-light-98);

  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax((15rem, 100%), 1fr)); */
  gap: 1.5rem;
  justify-items: center;
}

.portfolio-card {
  background-color: var(--main-white);
  flex: 1 1 auto;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  box-shadow: var(--main-shadow-dark);

  gap: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 25rem;
}

.portfolio-card:hover {
  /* box-shadow: 0 0 0 0 0.25rem; */
  /* background-color: #1d4ed8; */
}
.portfolio-card a:focus {
  text-decoration: underline;
}
.portfolio-card:focus-within {
  /* box-shadow: 0 0 0 0.25rem; */
}
.portfolio-card:focus-within a:focus {
  /* text-decoration: none;    */
}

.portfolio-card header {
  margin-bottom: 0.5rem;
}
.portfolio-card header a {
}

.portfolio-card-img {
  height: 12rem;
}
.portfolio-card-img img {
  /* object-fit: cover; */
  height: 100%;
  width: 100%;

  border-radius: 0.375rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.portfolio-card .card-text {
  justify-content: start;
  gap: 0;
}
.card-text h3 a {
  text-align: start;
  /* position: absolute; */
  /* flex: none; */
}

.portfolio-card .tag-container {
  margin: 0;
  padding: 0 0 0.5rem 0;
  gap: 0.125rem;
  justify-content: start;
  position: relative;
  top: 0;
  order: -1;
}
.portfolio-card .badge-container {
  /* margin-top: 0.5rem; */
  /* width: 100%; */
  /* justify-content: start; */
}
.portfolio-card .badge img {
  opacity: 0.75;
}

.portfolio-card-buttons {
  display: flex;
  gap: 0.125rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* padding: 0.5rem 0; */
}

.portfolio-card-buttons a {
  flex: none;
}

/* PAGINATION */

.pagination {
  /* flex: auto; */
  width: 100%;
  /* max-width: 20rem; */
  /* margin-top: 2rem; */
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex: 1 0 auto; */
  /* display: inline-block; */
}
.pagination li {
  display: inline-block;
}

.pagination a {
  display: inline-block;

  padding: 0.5rem 1rem;
  text-decoration: none;
  border-color: #374151;
}

.pagination a.active {
  /* background-color: #4caf50; */
  /* color: white; */
}

.pagination a:hover:not(.active) {
  /* background-color: #ddd; */
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*  CONTACT */

.contact {
}

.contact-details {
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  /* max-width: 40%; */
  min-width: 20rem;
}
.contact-details a {
  flex: none;
  gap: 0.5rem;
  display: grid;
  grid-template-columns: auto 1fr;
  text-align: start;
}

.contact-details .icon-large {
  grid-row: span 2;
  order: 1;
}
.contact-details h3 {
  order: 2;
}
.contact-details a > p {
  order: 3;
}

.contact-form {
  /* width: 100%; */
  flex: auto;
  min-width: 15rem;
  /* max-width: 80%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.form-input {
  padding: 1.5rem 1.25rem;
  width: 100%;
  vertical-align: middle;
  border-radius: 3rem;
  border: 2px solid var(--main-dark-15);
  box-shadow: var(--main-shadow-dark);
}
.form-textarea {
  padding: 1.5rem 1.25rem;
  height: auto;
  max-width: 100%;
  min-width: 25ch;
  min-height: 7rem;
  border-radius: 1.5rem;
  border: 2px solid var(--main-dark-15);
  box-shadow: var(--main-shadow-dark);
}
.contact-form .button,
.portfolio-card .button-alt {
  border-radius: 0.375rem;
  height: 3rem;
  padding: 0 2rem;
}

/* BADGES */

.badge-container {
  /* position: relative; */
  /* border: 1px solid fuchsia; */

  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;

  margin: 0.25rem 0;
  /* width: 100%; */
  /* display: flex; */
  justify-content: start;
}

.enterprise-software .badge-container,
.portfolio dialog .badge-container {
  gap: 0.5rem;
  justify-content: center;
}
.badge {
  position: relative;
  display: inline-block;
}

/* COLORS */

.yellow-light {
  /* background: linear-gradient(to bottom right, #ffeb3b 0%, #fbc02d 100%); */
  background-color: var(--main-comp-lightest);
  color: var(--main-comp-darkest);
}

.yellow {
  background-color: var(--main-comp);
  color: var(--main-dark-5);
}

.yellow-outline {
  border: 2px solid var(--main-comp);
  background-color: var(--main-surface);
}

.purple-light {
  background-color: var(--main-primary-lightest);
  color: var(--main-primary-darkest);
}

.purple {
  border: 2px solid transparent;
  background-color: var(--main-primary);
  color: var(--main-white);
}

.purple-outline {
  border: 2px solid var(--main-primary);
  background-color: var(--main-surface-dim);
}
.grey {
  background-color: var(--main-dark-65);
  color: var(--main-dark-5);
}
.green-light {
  background-color: var(--main-secondary-lightest);
  color: var(--main-secondary-darkest);
}
.green {
  background-color: var(--main-secondary-dark);
  color: var(--main-white);
}

.red-light {
  background-color: var(--main-tertiary-lightest);
  color: var(--main-tertiary-darkest);
}

.red {
  background-color: var(--main-tertiary);
  color: var(--main-white);
}

/* DISPLAY ADJUSTMENTS */
.mobile-only,
.blockspam {
  display: none;
}

[aria-hidden="true"] {
  pointer-events: none;
}
[hidden] {
  display: none;
}
.hidden {
  display: none;
}
.full-width {
  grid-column: 1 / -1;
  width: 100%;
}

@media screen and (max-width: 37.5rem) {
  body > main {
    text-align: center;
    padding: 1rem 0;
  }

  body > main > *,
  body > main > * > header,
  body > main > * > .main {
    width: 95%;
  }
  section {
    padding: 1rem 0.25rem;
  }
  .introduction {
    padding: 2rem 0.5rem 0 0.5rem;
    flex-direction: column;
  }
  .intro-text {
    padding-bottom: 0.125rem;
  }

  div {
    justify-content: center;
  }
  img {
    max-height: min(100%, 40vh);
  }
  .rotate {
    transform: none;
    padding: 0;
    margin: 0;
    bottom: 0;
    left: 0;
  }

  body > header {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    position: sticky;
    bottom: 0;
    z-index: 19;

    width: 100%;
  }

  .side-nav {
    bottom: 0;
    top: auto;
    flex: 1 1 auto;
    position: relative;
    align-self: center;
    padding: 0.5rem 0.5rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    height: 6rem;
    width: 100%;
    max-width: 100%;
  }
  .side-nav > * {
    font-size: 1rem;
    padding: 0;
  }
  .nav-content {
    flex: 1 1 100%;
    padding: 0.25rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    text-align: center;
  }
  .side-nav > img,
  .nav-about p,
  .nav-about .icon-group {
    display: none;
  }
  /* increase space between cards on small screens to avoid activation whilst scrolling */
  .cards,
  .portfolio-container {
    gap: 3rem;
  }
  .card-img a,
  .card-img img {
    /* max-width: 4rem; */
    /* width: 100%; */
    max-height: 5rem;
  }
  .timeline-card .card-img a {
    justify-content: center;
  }
  .card-text > * > * {
    text-align: center;
  }
  .mobile-only {
    /* display: block; */
  }
  .filters {
    /* display: none; */
    gap: 3rem;
  }
  .about-image {
    max-height: 40vh;
  }
}
/* prevent animations  by user request */
@media screen, (max-width: 37.5rem) and (prefers-reduced-motion: reduce) {
  /* .animate {
    animation: none !important;
  } */
  /* .rotate {
    transform: none !important;
    padding: 0;
  } */
}

@media (prefers-reduced-motion: no-preference) {
  dialog {
    animation: scale-down 0.5s cubic-bezier(0.25, 0, 0.3, 1) forwards;
    animation-timing-function: cubic-bezier(0.5, -0.5, 0.1, 1.5);
  }
  dialog[open] {
    animation: slide-in-up 0.5s cubic-bezier(0.5, -0.5, 0.1, 1.5) forwards;
  }
}

/* ARCHIVE */
/* 
button.primary-btn {

  flex: auto;
  border-radius: 0.375rem;
  border: 1px solid transparent;

  text-align: center;
  padding: 1rem 0;
  display: inline-flex;
  align-items: center;
}
button.secondary-button {
  flex: auto;
  border-radius: 0.375rem;
  border: 2px solid #ffc867;


  text-align: center;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

button.read-more-btn {
  width: fit-content;
  font-weight: 600;

  text-transform: uppercase;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;

  background: #fff0f0;
  border: 2px solid #b18597;

  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.read-more-btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.read-more-btn:hover {
  background: #ffe9e9;
  transform: translate(0, 0.25em);
}
button.read-more-btn:hover::before {
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  transform: translate3d(0, 0.5em, -1em);
}
button.read-more-btn:active {
  background: #ffe9e9;
  transform: translate(0em, 0.75em);
}
button.read-more-btn:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
} */
